/*--------------------------------------------------------------
# Variables, functions and mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #FFFFFF;
  /* Fallback for when there is no custom background color defined. */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

main {
  font-family: '"Nunito-Bold, Nunito", sans-serif';
  font-weight: 700;
  position: relative;
  top: 2em; }

.messages {
  display: grid;
  max-width: 80vw;
  margin: 0 auto;
  grid-gap: 1rem;
  padding: 0.6em;
  color: #FFFFFF;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

.messages div {
  position: relative;
  max-width: 330px;
  height: 302px;
  text-align: center;
  border-radius: 10px;
  padding: 0 2.1em; }
  .messages div button {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 2em; }

.messages .warning {
  background: linear-gradient(224deg, #FD6266, #FD916A); }
  .messages .warning button {
    color: #FD6266; }

.messages .update {
  background: linear-gradient(224deg, #D00269, #F5515F); }
  .messages .update button {
    color: #D00269; }

.messages .success {
  background: linear-gradient(224deg, #30CC71, #6EECCE); }
  .messages .success button {
    color: #30CC71; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 16px;
  line-height: 24px; }

body {
  color: #8A94A7;
  font-size: 1rem; }

body,
button {
  font-family: '"Nunito-Bold, Nunito", sans-serif'; }

h3 {
  font-size: 24px;
  line-height: 34px; }

h3 {
  margin-top: 45px;
  margin-bottom: 16px; }

button {
  font-size: 20px;
  line-height: 30px; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
  display: block;
  font-size: 14pxtrue;
  font-weight: 700;
  line-height: 14px;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  box-shadow: 0 3.7px 2px -2px #8A94A7;
  justify-content: center;
  padding: 12px 32px;
  height: 3rem;
  text-align: center;
  white-space: nowrap; }
  .button:hover {
    background: #262a33; }
  .button:active {
    outline: none; }
  .button::before {
    border-radius: 2px; }
