.button {
    display: block;
    @include font-size(8, mobile, true, false, true);
    @include font-weight(bold);
    line-height: 14px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0 3.7px 2px -2px color(typography, 2);
    justify-content: center;
    padding: 12px 32px;
	height: 3rem;
    text-align: center;
    white-space: nowrap;

	&:hover {
		background: lighten(color(bg, 3), 1%);
	}

    &:active {
        outline: none;
    }

    &::before {
        border-radius: 2px;
    }
}
