html {
	@include font-size(7, mobile, true, true);
}

body {
	color: color(typography, 2);
	font-size: 1rem;
}

body,
button {
	@include font-family(base);
}

h3 {
	@include font-size(3, mobile, true, true);
}

h3 {
	margin-top: 45px;
	margin-bottom: 16px;
}

button {
	@include font-size(4, mobile, true, true);
}
